{
    "openapi": "3.0.0",
    "info": {
        "title": "Medical Records API",
        "description": "API quan ly ho so y te",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/appointments": {
            "get": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Danh sách cuộc hẹn",
                "description": "Trả về danh sách các appointment, có thể lọc theo patient_id, doctor_id, start, end, status",
                "operationId": "2c064002f676fba99fc5cdec6d163780",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Số lượng bản ghi trả về (mặc định: 50)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Số lượng bản ghi bỏ qua (mặc định: 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 0
                        }
                    },
                    {
                        "name": "patient_id",
                        "in": "query",
                        "description": "ID của bệnh nhân",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "patient_123"
                        }
                    },
                    {
                        "name": "doctor_id",
                        "in": "query",
                        "description": "ID của bác sĩ",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "doctor_456"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Thời gian bắt đầu lọc",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-01T00:00:00Z"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Thời gian kết thúc lọc",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-31T23:59:59Z"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Trạng thái cuộc hẹn",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "scheduled"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách appointments thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_rows": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "string",
                                                        "example": "appointment_123"
                                                    },
                                                    "patient_id": {
                                                        "type": "string",
                                                        "example": "patient_123"
                                                    },
                                                    "doctor_id": {
                                                        "type": "string",
                                                        "example": "doctor_456"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "scheduled"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Exception"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Database connection failed"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Tạo cuộc hẹn mới",
                "description": "Tạo một appointment mới trong hệ thống",
                "operationId": "058682f8a038f0ea8e7cb12dd411e7c3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "_id": {
                                        "description": "ID tùy chọn",
                                        "type": "string",
                                        "example": "appointment_123"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "appointment"
                                        ],
                                        "example": "appointment"
                                    },
                                    "patient_id": {
                                        "description": "ID bệnh nhân (bắt buộc)",
                                        "type": "string",
                                        "example": "patient_123"
                                    },
                                    "doctor_id": {
                                        "description": "ID bác sĩ (bắt buộc)",
                                        "type": "string",
                                        "example": "doctor_456"
                                    },
                                    "appointment_info": {
                                        "properties": {
                                            "scheduled_date": {
                                                "description": "Ngày hẹn (bắt buộc)",
                                                "type": "string",
                                                "format": "date",
                                                "example": "2024-01-15"
                                            },
                                            "duration": {
                                                "description": "Thời gian (phút)",
                                                "type": "integer",
                                                "example": 30
                                            },
                                            "type": {
                                                "description": "Loại cuộc hẹn",
                                                "type": "string",
                                                "example": "consultation"
                                            },
                                            "priority": {
                                                "description": "Độ ưu tiên",
                                                "type": "string",
                                                "example": "normal"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "reason": {
                                        "description": "Lý do khám",
                                        "type": "string",
                                        "example": "Regular checkup"
                                    },
                                    "status": {
                                        "description": "Trạng thái",
                                        "type": "string",
                                        "example": "scheduled"
                                    },
                                    "notes": {
                                        "description": "Ghi chú",
                                        "type": "string",
                                        "example": "Patient notes"
                                    },
                                    "reminders": {
                                        "description": "Danh sách nhắc nhở",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "created_by": {
                                        "description": "Người tạo",
                                        "type": "string",
                                        "example": "staff_789"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo appointment thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "appointment_123"
                                        },
                                        "rev": {
                                            "type": "string",
                                            "example": "1-abc123"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "bad_request"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Invalid data"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Lỗi validation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "validation_error"
                                        },
                                        "details": {
                                            "properties": {
                                                "patient_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The patient_id field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Exception"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Database connection failed"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/appointments/{id}": {
            "get": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Lấy thông tin chi tiết cuộc hẹn",
                "description": "Trả về thông tin chi tiết của một appointment theo ID",
                "operationId": "8cbe062f9e982f17cb7458556472842e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của appointment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "appointment_123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "string",
                                            "example": "appointment_123"
                                        },
                                        "_rev": {
                                            "type": "string",
                                            "example": "1-abc123"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "appointment"
                                        },
                                        "patient_id": {
                                            "type": "string",
                                            "example": "patient_123"
                                        },
                                        "doctor_id": {
                                            "type": "string",
                                            "example": "doctor_456"
                                        },
                                        "appointment_info": {
                                            "properties": {
                                                "scheduled_date": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-01-15"
                                                },
                                                "duration": {
                                                    "type": "integer",
                                                    "example": 30
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "example": "consultation"
                                                },
                                                "priority": {
                                                    "type": "string",
                                                    "example": "normal"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Regular checkup"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "scheduled"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "example": "Patient notes"
                                        },
                                        "reminders": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "created_by": {
                                            "type": "string",
                                            "example": "staff_789"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "not_found"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Appointment not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Exception"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Database connection failed"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Cập nhật thông tin cuộc hẹn",
                "description": "Cập nhật thông tin của một appointment theo ID (cần có _rev)",
                "operationId": "608e45042e26700502cd51f33b41fa26",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của appointment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "appointment_123"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "_rev": {
                                        "description": "Revision của document (bắt buộc)",
                                        "type": "string",
                                        "example": "1-abc123"
                                    },
                                    "patient_id": {
                                        "type": "string",
                                        "example": "patient_123"
                                    },
                                    "doctor_id": {
                                        "type": "string",
                                        "example": "doctor_456"
                                    },
                                    "appointment_info": {
                                        "properties": {
                                            "scheduled_date": {
                                                "type": "string",
                                                "format": "date",
                                                "example": "2024-01-15"
                                            },
                                            "duration": {
                                                "type": "integer",
                                                "example": 30
                                            },
                                            "type": {
                                                "type": "string",
                                                "example": "consultation"
                                            },
                                            "priority": {
                                                "type": "string",
                                                "example": "high"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "example": "Follow-up checkup"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "confirmed"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Updated patient notes"
                                    },
                                    "reminders": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "updated_by": {
                                        "type": "string",
                                        "example": "staff_789"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "appointment_123"
                                        },
                                        "rev": {
                                            "type": "string",
                                            "example": "2-def456"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ hoặc thiếu _rev",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "bad_request"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Document update conflict"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "not_found"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "missing"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict - Document đã được cập nhật bởi user khác",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "conflict"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Document update conflict"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Exception"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Database connection failed"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Appointments"
                ],
                "summary": "Xóa cuộc hẹn",
                "description": "Xóa một appointment theo ID (cần có rev parameter)",
                "operationId": "67378e522d1df1231517e23d451c5e85",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của appointment",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "appointment_123"
                        }
                    },
                    {
                        "name": "rev",
                        "in": "query",
                        "description": "Revision của document",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1-abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xóa thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "appointment_123"
                                        },
                                        "rev": {
                                            "type": "string",
                                            "example": "2-def456"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Thiếu rev parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "bad_request"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Missing rev parameter"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy appointment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "not_found"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "missing"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict - Document đã được cập nhật",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "conflict"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Document update conflict"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Exception"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Database connection failed"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Đăng nhập",
                "operationId": "72da9856cfaf0c9d012815b263d9f6eb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "admin"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "refresh_token": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "role_names": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "permissions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Thông tin đăng nhập không đúng"
                    },
                    "403": {
                        "description": "Tài khoản bị khóa"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh token",
                "operationId": "f189259787c5ae85ac996c1f485b4f50",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refresh_token": {
                                        "type": "string",
                                        "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Refresh thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "refresh_token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Token không hợp lệ"
                    },
                    "401": {
                        "description": "Token hết hạn"
                    },
                    "403": {
                        "description": "Tài khoản bị khóa"
                    },
                    "404": {
                        "description": "User không tồn tại"
                    }
                }
            }
        },
        "/api/v1/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Thông tin user hiện tại",
                "operationId": "91951f3233c16de74ae44a484f8d53dc",
                "responses": {
                    "200": {
                        "description": "Thông tin user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "token": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/doctors": {
            "get": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Danh sách bác sĩ",
                "operationId": "a63fa5376d8d068fec1f154c81c31604",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 0
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "Nguyễn"
                        }
                    },
                    {
                        "name": "specialty",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "cardiology"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách bác sĩ"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Tạo bác sĩ mới",
                "operationId": "92247d401ad549b11508c44d3288bdac",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "personal_info.full_name": {
                                        "type": "string",
                                        "example": "Dr. Nguyễn Văn A"
                                    },
                                    "personal_info.birth_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1980-01-15"
                                    },
                                    "personal_info.gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female",
                                            "other"
                                        ],
                                        "example": "male"
                                    },
                                    "personal_info.phone": {
                                        "type": "string",
                                        "example": "0901234567"
                                    },
                                    "personal_info.email": {
                                        "type": "string",
                                        "example": "doctor@example.com"
                                    },
                                    "professional_info.specialty": {
                                        "type": "string",
                                        "example": "cardiology"
                                    },
                                    "professional_info.license_number": {
                                        "type": "string",
                                        "example": "DOC123456"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "422": {
                        "description": "Lỗi validation"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/doctors/{id}": {
            "get": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Chi tiết bác sĩ",
                "operationId": "3921fa1a666c3d4e92bb5377c9ddd792",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin bác sĩ"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "put": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Cập nhật bác sĩ",
                "operationId": "1541cfbb09eb1767d80ab95009345166",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "_rev": {
                                        "type": "string",
                                        "example": "1-abc123"
                                    },
                                    "personal_info.full_name": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Doctors"
                ],
                "summary": "Xóa bác sĩ",
                "operationId": "0256468438b413ccd4c4db84945ae3a0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rev",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1-abc123"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xóa thành công"
                    },
                    "400": {
                        "description": "Thiếu rev parameter"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/invoices": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Danh sách hóa đơn",
                "operationId": "336411b08a1358f477b049bd0ad1c6b4",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 0
                        }
                    },
                    {
                        "name": "patient_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "payment_status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách hóa đơn"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Tạo hóa đơn mới",
                "operationId": "600f81d4a5b7370a7fa733a8f43c6b03",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "patient_id": {
                                        "type": "string",
                                        "example": "patient_123"
                                    },
                                    "medical_record_id": {
                                        "type": "string",
                                        "example": "record_456"
                                    },
                                    "invoice_info.invoice_number": {
                                        "type": "string",
                                        "example": "INV-2024-001"
                                    },
                                    "invoice_info.invoice_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "payment_info.total_amount": {
                                        "type": "number",
                                        "example": 500000
                                    },
                                    "payment_status": {
                                        "type": "string",
                                        "example": "pending"
                                    },
                                    "services": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "service_type": {
                                                    "type": "string",
                                                    "example": "consultation"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Khám tổng quát"
                                                },
                                                "quantity": {
                                                    "type": "number",
                                                    "example": 1
                                                },
                                                "unit_price": {
                                                    "type": "number",
                                                    "example": 200000
                                                },
                                                "total_price": {
                                                    "type": "number",
                                                    "example": 200000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "422": {
                        "description": "Lỗi validation"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/invoices/{id}": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Chi tiết hóa đơn",
                "operationId": "023f984f1e989be310a4aa4e47d3fff5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin hóa đơn"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "put": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Cập nhật hóa đơn",
                "operationId": "dfcabd73d87b50d44c217a1148f2062a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "_rev": {
                                        "type": "string",
                                        "example": "1-abc123"
                                    },
                                    "payment_status": {
                                        "type": "string",
                                        "example": "paid"
                                    },
                                    "paid_date": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Xóa hóa đơn",
                "operationId": "b6ceb60ff2fb3d4207bcd2b377ea87b4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rev",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xóa thành công"
                    },
                    "400": {
                        "description": "Thiếu rev parameter"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/medical-records": {
            "get": {
                "tags": [
                    "Medical Records"
                ],
                "summary": "Danh sách hồ sơ bệnh án",
                "operationId": "0de61bef7f027788980e40206c5daf5f",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 0
                        }
                    },
                    {
                        "name": "patient_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "doctor_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "appointment_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "primary_icd",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "scheduled",
                                "completed",
                                "cancelled"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách hồ sơ bệnh án"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Medical Records"
                ],
                "summary": "Tạo hồ sơ bệnh án mới",
                "operationId": "c8356fc1fbf04bbdd7aba0e62f29938e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "patient_id": {
                                        "type": "string",
                                        "example": "patient_123"
                                    },
                                    "doctor_id": {
                                        "type": "string",
                                        "example": "doctor_456"
                                    },
                                    "visit_info.visit_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "visit_info.visit_type": {
                                        "type": "string",
                                        "example": "consultation"
                                    },
                                    "visit_info.chief_complaint": {
                                        "type": "string",
                                        "example": "Đau đầu"
                                    },
                                    "visit_info.appointment_id": {
                                        "type": "string",
                                        "example": "appointment_789"
                                    },
                                    "examination": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "diagnosis": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "treatment_plan": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "scheduled",
                                            "completed",
                                            "cancelled"
                                        ],
                                        "example": "completed"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "422": {
                        "description": "Lỗi validation"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/medical-records/{id}": {
            "get": {
                "tags": [
                    "Medical Records"
                ],
                "summary": "Chi tiết hồ sơ bệnh án",
                "operationId": "22ebbabaa794e910a6a8c2835f329ee3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin hồ sơ bệnh án"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "put": {
                "tags": [
                    "Medical Records"
                ],
                "summary": "Cập nhật hồ sơ bệnh án",
                "operationId": "7d8f1196f50a3cd06583a783d60c68d4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "_rev": {
                                        "type": "string",
                                        "example": "1-abc123"
                                    },
                                    "examination": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "diagnosis": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "scheduled",
                                            "completed",
                                            "cancelled"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Medical Records"
                ],
                "summary": "Xóa hồ sơ bệnh án",
                "operationId": "ff52fff3926a57d80cb68ddf2ac36ad5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rev",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xóa thành công"
                    },
                    "400": {
                        "description": "Thiếu rev parameter"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/medical-tests": {
            "get": {
                "tags": [
                    "Medical Tests"
                ],
                "summary": "Danh sách xét nghiệm y tế",
                "operationId": "d5b852a6783aa16954dbee725ffdbbb9",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 0
                        }
                    },
                    {
                        "name": "patient_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "doctor_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "medical_record_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "test_type",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách xét nghiệm y tế"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Medical Tests"
                ],
                "summary": "Tạo xét nghiệm y tế mới",
                "operationId": "87518f197546cfcd679d87166c6c5a21",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "patient_id": {
                                        "type": "string",
                                        "example": "patient_123"
                                    },
                                    "doctor_id": {
                                        "type": "string",
                                        "example": "doctor_456"
                                    },
                                    "medical_record_id": {
                                        "type": "string",
                                        "example": "record_789"
                                    },
                                    "test_info.test_type": {
                                        "type": "string",
                                        "example": "blood_test"
                                    },
                                    "test_info.test_name": {
                                        "type": "string",
                                        "example": "Xét nghiệm máu tổng quát"
                                    },
                                    "test_info.ordered_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "test_info.sample_collected_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-16"
                                    },
                                    "test_info.result_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-17"
                                    },
                                    "results": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "interpretation": {
                                        "type": "string",
                                        "example": "Kết quả bình thường"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "completed"
                                    },
                                    "lab_technician": {
                                        "type": "string",
                                        "example": "tech_123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tạo thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "422": {
                        "description": "Lỗi validation"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/medical-tests/{id}": {
            "get": {
                "tags": [
                    "Medical Tests"
                ],
                "summary": "Chi tiết xét nghiệm y tế",
                "operationId": "7006ea3c0de855434db9572169c269bb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Thông tin xét nghiệm y tế"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "put": {
                "tags": [
                    "Medical Tests"
                ],
                "summary": "Cập nhật xét nghiệm y tế",
                "operationId": "86fb7b0afacebb3712dd536a741506b7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "_rev": {
                                        "type": "string",
                                        "example": "1-abc123"
                                    },
                                    "results": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "interpretation": {
                                        "type": "string",
                                        "example": "Kết quả bình thường"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "completed"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cập nhật thành công"
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Medical Tests"
                ],
                "summary": "Xóa xét nghiệm y tế",
                "operationId": "2268d4974beb6cc1c4a4c7db0801409f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rev",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xóa thành công"
                    },
                    "400": {
                        "description": "Thiếu rev parameter"
                    },
                    "404": {
                        "description": "Không tìm thấy"
                    },
                    "409": {
                        "description": "Conflict"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/v1/medications": {
            "get": {
                "tags": [
                    "Medications"
                ],
                "summary": "Danh sách thuốc",
                "operationId": "cdb87bb5d3158029f14569f0a7cf6690",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 50
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "example": 0
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "description": "Tìm kiếm theo tên thuốc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "barcode",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "class",
                        "in": "query",
                        "schema": {
                            "description": "Phân loại thuốc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "description": "Ngày hết hạn",
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    },
                    {
                        "name": "low_stock",
                        "in": "query",
                        "schema": {
                            "description": "Ngưỡng tồn kho thấp",
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Danh sách thuốc"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            },
            "post": {
                "tags": [
                    "Medications"
                ],
                "summary": "Tạo thuốc mới",
                "operationId": "51af29147de6e9958e59842adefd855b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "medication_info.name": {
                                        "type": "string",
                                        "example": "Paracetamol"
                                    },
                                    "medication_info.generic_name": {
                                        "type": "string",
                                        "example": "Acetaminophen"
                                    },
                                    "medication_info.strength": {
                                        "type": "string",
                                        "example": "500mg"
                                    },
                                    "medication_info.dosage_form": {
                                        "type": "string",
                                        "example": "tablet"
                                    },
                                    "medication_info.manufacturer": {
                                        "type": "string",
                                        "example": "ABC Pharma"
                                    },
                                    "medication_info.barcode": {
                                        "type": "string",
                                        "example": "1234567890123"
                                    },
                                    "clinical_info.therapeutic_class": {
                                        "type": "string",
                                        "example": "Analgesic"
                                    },
                                    "clinical_info.indications": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "clinical_info.contraindications": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "clinical_info.side_effects": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "clinical_info.drug_interactions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "inventory.current_stock": {
                                        "type": "integer",
                                        "example": 100
                                    },
                                    "inventory.unit_cost": {
                                        "type": "number",
                                        "example": 5.5
                                    },
                                    "inventory.expiry_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-12-31"
                                    },
                                    "inventory.supplier": {
                                        "type": "string",
                                        "example": "Supplier ABC"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
[...]
