# Bỏ những thứ không cần đưa vào build context
.git
.github
docker-compose.yml
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
*.md

# Nếu bạn copy vendor từ stage composer thì vendor trong context không cần
vendor

# WHITELIST các file cấu hình cần thiết
!Dockerfile
!composer.json
!composer.lock
!docker/**
!entrypoint.sh
!supervisord.conf
