# .dockerignore (gợi ý)
.git
.github
node_modules
storage/logs/*
storage/framework/*
tests
.env
docker-compose.yml
vendor
*.md

# Quan trọng: cho phép copy các file cần thiết
!Dockerfile
!composer.json
!composer.lock
!docker/**
